@import "tailwindcss";

/** {
    outline: #111 solid 1px;
}*/

@font-face {
    font-family: AlbraFont-light;
    src: url(./fonts/AlbraBookTRIAL-Light.woff2);
}

@font-face {
    font-family: AlbraFont-bold;
    src: url(./fonts/AlbraTRIAL-Bold.woff2);
}

@font-face {
    font-family: AlbraFont-medium;
    src: url(./fonts/AlbraGroteskTRIAL-Medium.woff2);
}

@theme {
    --color-ApplyDark: #222222;
    --color-ApplyOrange: #f43b00;
    --color-ApplyWhite: #e9e8e6;
    --color-ApplyMaroon: #5a0513;

    --font-AlbraLight: AlbraFont-light;
    --font-AlbraBold: AlbraFont-bold;
    --font-AlbraSans: AlbraFont-medium;
}

body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

.icon-animate {
    transition:
        transform 0.2s ease-in-out,
        color 0.2s ease;
}
.icon-animate:hover {
    transform: scale(1.2) rotate(10deg);
    color: #f43b00;
}
